/* styles.css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  margin-right: 8px;
}
.search-button {
  cursor: pointer;
}
a:hover {
  color: blue;
}
.body-admin {
  width: fit-content;
  height: fit-content;
  margin: 0px auto;
}
div.inline {
  display: inline-block;
}
figure.caption-right {
  display: flex;
  align-items: center;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.align-center {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 360px;
  padding: 12px 16px;
  border: 1px solid #767676;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.05);
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login-btn {
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}
.login-btn:hover {
  background-color: red;
  color: #fff;
  transition: 0.5s ease;
}
.sign-up {
  color: blue;
  margin-left: 5px;
}
.align-valign-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
}
.register-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-top: 20px;
}
.text-center {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* menu.css */
div.border-bottom {
  border-bottom: 1px solid black;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.3);
}
div.float-left {
  float: left;
}
div.float-right {
  float: right;
}
div.float-clear {
  clear: both;
}
ul.menu {
  margin: 0px;
  padding: 0px;
}
li.menu {
  display: inline;
  margin-right: 20px;
  text-transform: uppercase;
}
form.search {
  margin: 0px;
}
input.keyword {
  width: 150px;
}
input.keyword:not(:placeholder-shown) ~ .search-button {
  background-color: red;
  color: #fff;
  transition: all 0.5s ease;
}
/* datatable.css */
.datatable {
  text-align: center;
  border-collapse: collapse;
}
/* header */
tr:first-child.datatable {
  background-color: #ffcc00;
}
/* even rows, except header */
tr:not(:first-child):nth-child(even).datatable {
  background-color: #f5f5f5;
}
/* odd rows, except header */
tr:not(:first-child):nth-child(odd).datatable {
  background-color: #ffeeaa;
}
/* except header */
tr:not(:first-child):hover.datatable {
  background-color: #dcfcfc;
  cursor: pointer;
}
.product-detail {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  justify-content: center;
  gap: 10px;
}
.shopping-cart_icon {
  font-size: 1.6rem;
  position: relative;
  top: 3px;
  transition: 0.3s ease-in;
}
.inline {
  margin-left: 5px;
  margin-right: 5px;
}
.shopping-cart_icon:hover {
  animation: Fade-In 0.5s ease;
}
.check-container:hover {
  opacity: 0.7;
}
.new-product--container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  gap: 15px;
}
@keyframes Fade-In {
  from {
    scale: 0.6;
  }
  to {
    scale: 1;
  }
}
